/**
 * Feedjit Plugin styleS
 *
 * All of the CSS for feedjit dashboard-specific functionality
 * will be included in this file
 *
 * @since		10.0.0
 * @author		Joel James <me@joelsays.com>
*/
 
.feedjit-container label {
    clear: left;
    cursor: pointer;
    float: left;
    padding-right: 10px;
    text-align: right;
    width: 180px;
}